.navbar-brand {
    font-size: 1.6rem;
    font-weight: 700;
    color: #ff6699;
    font-family: 'Noto Sans JP', sans-serif !important;
}

.link-custom {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ff6699;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ff6699;
}

.card-text {
    line-height: 1.8 !important;
}

.profile-title {
  color: #FF69B4;
  font-family: 'Noto Sans JP', sans-serif !important;
  font-size: 1.2rem;
  font-weight: 700;
}

.btn {
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(255, 105, 180, 0.3);
  transition: all 0.2s ease;
}

.btn {
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(255, 105, 180, 0.3);
  transition: all 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(255, 105, 180, 0.4);
}






